// this is the raw scribble of a document with header and footer und 3 columns
//
// +- header --------------------------------------------------------------------------------------------------------+
// |                                                                                                                 |
// |  +- aside -------------------------+  +- aside --------------------------------------------------------------+  |
// |  |                                 |  |                                                                      |  |
// |  +---------------------------------+  +----------------------------------------------------------------------+  |
// |                                                                                                                 |
// +-----------------------------------------------------------------------------------------------------------------+
//
// +- main ----------------------------------------------------------------------------------------------------------+
// |                                                                                                                 |
// |  +- aside.sidebar -----------------+  +- aside.content ------------------------------------------------------+  |
// |  |                                 |  |                                                                      |  |
// |  |                                 |  | +- div.col-main ----------------+  +- div.col-right ---------------+ |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | |                               |  |                               | |  |
// |  |                                 |  | +-------------------------------+  +-------------------------------+ |  |
// |  |                                 |  |                                                                      |  |
// |  +---------------------------------+  +----------------------------------------------------------------------+  |
// |                                                                                                                 |
// +-----------------------------------------------------------------------------------------------------------------+
//
// =====================================================================================================================
// this is the main part with one column
//
// +- main ----------------------------------------------------------------------------------------------------------+
// |                                                                                                                 |
// |  +- aside.coontent ------------------------------------------------------------------------------------------+  |
// |  |                                                                                                           |  |
// |  +-----------------------------------------------------------------------------------------------------------+  |
// |                                                                                                                 |
// +-----------------------------------------------------------------------------------------------------------------+
//
// =====================================================================================================================
//
//
//
// =====================================================================================================================
// header parts
// ---------------------------------------------------------------------------------------------------------------------
// header
// ·····················································································································
@header-height: 50px;
@header-border-bottom-width: 1px;
// =====================================================================================================================
//
// =====================================================================================================================
// main parts
// ---------------------------------------------------------------------------------------------------------------------
// main
// ·····················································································································
// =====================================================================================================================
//
// =====================================================================================================================
// footer parts
// ---------------------------------------------------------------------------------------------------------------------
// footer
// ·····················································································································
@footer-height: 0;
// =====================================================================================================================
//
//
//
// =====================================================================================================================
// aside parts
// ---------------------------------------------------------------------------------------------------------------------
// sidebar
// ·····················································································································
@sidebar-sm-width: 200px;
@sidebar-md-width: 210px;
@sidebar-lg-width: 220px;
// ---------------------------------------------------------------------------------------------------------------------
// content
// ·····················································································································
// =====================================================================================================================
//
//
//
// =====================================================================================================================
// col parts
// ---------------------------------------------------------------------------------------------------------------------
// col-main
// ·····················································································································
// ---------------------------------------------------------------------------------------------------------------------
// col-right
// ·····················································································································
@col-right-sm-width: 200px;
@col-right-md-width: 210px;
@col-right-lg-width: 220px;
// =====================================================================================================================
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
@basic-padding: 15px;

// =====================================================================================================================
// section parts
// =====================================================================================================================
// section-head
// ---------------------------------------------------------------------------------------------------------------------
//@section-head-height: 35px;
//@section-head-border-bottom-width: 1px;
// ---------------------------------------------------------------------------------------------------------------------
// section-body
// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
// section-foot
// ---------------------------------------------------------------------------------------------------------------------
//@section-foot-height: 35px;
//@section-foot-border-top-width: 1px;
// =====================================================================================================================

// =====================================================================================================================
// color sets
// =====================================================================================================================
// color set 1 - dark on light grey
// ---------------------------------------------------------------------------------------------------------------------
@cs1-color: #333333;
@cs1-bg: #f5f5f5;
//@cs1-section-head-bg: darken(@cs1-bg, 3%);
//@cs1-section-foot-bg: darken(@cs1-bg, 3%);
@cs1-border-horizontal-color: darken(@cs1-bg, 9%);
@cs1-border-vertical-color: darken(@cs1-bg, 18%);

@cs1-link-color: #444;
@cs1-link-hover-color: #222;
@cs1-link-active-color: #000;
@cs1-link-bg: transparent;
@cs1-link-hover-bg: transparent;
@cs1-link-active-bg: transparent;
//@cs1-link-selected-color: #333333;
//@cs1-link-selected-hover-color: #333333;
//@cs1-link-selected-active-color: #333333;

@cs1-heading-link-color: #666;
@cs1-heading-link-hover-color: #444;
@cs1-heading-link-active-color: #222;
//@cs1-heading-link-selected-color: #333333;
//@cs1-heading-link-selected-hover-color: #333333;
//@cs1-heading-link-selected-active-color: #333333;
// ---------------------------------------------------------------------------------------------------------------------
// cs1 buttons
// ---------------------------------------------------------------------------------------------------------------------
//// cs1 buttons default
//@cs1-btn-default-color: @btn-default-color;
//@cs1-btn-default-bg: @btn-default-bg;
//@cs1-btn-default-border: @btn-default-border;
//// cs1 buttons primary
//@cs1-btn-primary-color: @btn-primary-color;
//@cs1-btn-primary-bg: @btn-primary-bg;
//@cs1-btn-primary-border: @btn-primary-border;
//// cs1 buttons success
//@cs1-btn-success-color: @btn-success-color;
//@cs1-btn-success-bg: @btn-success-bg;
//@cs1-btn-success-border: @btn-success-border;
//// cs1 buttons warning
//@cs1-btn-warning-color: @btn-warning-color;
//@cs1-btn-warning-bg: @btn-warning-bg;
//@cs1-btn-warning-border: @btn-warning-border;
//// cs1 buttons danger
//@cs1-btn-danger-color: @btn-danger-color;
//@cs1-btn-danger-bg: @btn-danger-bg;
//@cs1-btn-danger-border: @btn-danger-border;
//// cs1 buttons info
//@cs1-btn-info-color: @btn-info-color;
//@cs1-btn-info-bg: @btn-info-bg;
//@cs1-btn-info-border: @btn-info-border;
// ---------------------------------------------------------------------------------------------------------------------
// color set 2 - dark on white
// ---------------------------------------------------------------------------------------------------------------------
@cs2-color: #333333;
@cs2-bg: #ffffff;
//@cs1-section-head-bg: darken(@cs1-bg, 3%);
//@cs1-section-foot-bg: darken(@cs1-bg, 3%);
@cs1-border-horizontal-color: darken(@cs1-bg, 9%);
@cs1-border-vertical-color: darken(@cs1-bg, 18%);

@cs2-link-color: #ddd;
@cs2-link-hover-color: #eee;
@cs2-link-active-color: #fff;
@cs2-link-bg: transparent;
@cs2-link-hover-bg: transparent;
@cs2-link-active-bg: transparent;
//@cs2-link-selected-color: #333333;
//@cs2-link-selected-hover-color: #333333;
//@cs2-link-selected-active-color: #333333;

@cs2-heading-link-color: #999;
@cs2-heading-link-hover-color: #bbb;
@cs2-heading-link-active-color: #ddd;
//@cs2-heading-link-selected-color: #333333;
//@cs2-heading-link-selected-hover-color: #333333;
//@cs2-heading-link-selected-active-color: #333333;
// ---------------------------------------------------------------------------------------------------------------------
// cs2 buttons
// ---------------------------------------------------------------------------------------------------------------------
//// cs2 buttons default
//@cs2-btn-default-color: @btn-default-color;
//@cs2-btn-default-bg: @btn-default-bg;
//@cs2-btn-default-border: @btn-default-border;
//// cs2 buttons primary
//@cs2-btn-primary-color: @btn-primary-color;
//@cs2-btn-primary-bg: @btn-primary-bg;
//@cs2-btn-primary-border: @btn-primary-border;
//// cs2 buttons success
//@cs2-btn-success-color: @btn-success-color;
//@cs2-btn-success-bg: @btn-success-bg;
//@cs2-btn-success-border: @btn-success-border;
//// cs2 buttons warning
//@cs2-btn-warning-color: @btn-warning-color;
//@cs2-btn-warning-bg: @btn-warning-bg;
//@cs2-btn-warning-border: @btn-warning-border;
//// cs2 buttons danger
//@cs2-btn-danger-color: @btn-danger-color;
//@cs2-btn-danger-bg: @btn-danger-bg;
//@cs2-btn-danger-border: @btn-danger-border;
//// cs2 buttons info
//@cs2-btn-info-color: @btn-info-color;
//@cs2-btn-info-bg: @btn-info-bg;
//@cs2-btn-info-border: @btn-info-border;
// ---------------------------------------------------------------------------------------------------------------------
// color set 3 - themecolorset
// ---------------------------------------------------------------------------------------------------------------------
@cs3-color: #ffffff;
@cs3-bg: #009339;
@cs3-section-head-bg: darken(@cs3-bg, 3%);
@cs3-section-foot-bg: darken(@cs3-bg, 3%);
@cs3-border-horizontal-color: darken(@cs3-bg, 6%);
@cs3-border-vertical-color: darken(@cs3-bg, 18%);

@cs3-link-color: #ffffff;
@cs3-link-hover-color: #ffffff;
@cs3-link-active-color: #333333;
@cs3-link-bg: transparent;
@cs3-link-hover-bg: lighten(@cs3-bg, 2%);
@cs3-link-active-bg: #ffffff;
//@cs3-link-selected-color: #333333;
//@cs3-link-selected-hover-color: #333333;
//@cs3-link-selected-active-color: #333333;

@cs3-heading-link-color: #bbb;
@cs3-heading-link-hover-color: #ddd;
@cs3-heading-link-active-color: #fff;
//@cs3-heading-link-selected-color: #333333;
//@cs3-heading-link-selected-hover-color: #333333;
//@cs3-heading-link-selected-active-color: #333333;
// ---------------------------------------------------------------------------------------------------------------------
// cs3 buttons
// ---------------------------------------------------------------------------------------------------------------------
//// cs3 buttons default
//@cs3-btn-default-color: @btn-default-color;
//@cs3-btn-default-bg: @btn-default-bg;
//@cs3-btn-default-border: @btn-default-border;
//// cs3 buttons primary
//@cs3-btn-primary-color: @btn-primary-color;
//@cs3-btn-primary-bg: @btn-primary-bg;
//@cs3-btn-primary-border: @btn-primary-border;
//// cs3 buttons success
//@cs3-btn-success-color: @btn-success-color;
//@cs3-btn-success-bg: @btn-success-bg;
//@cs3-btn-success-border: @btn-success-border;
//// cs3 buttons warning
//@cs3-btn-warning-color: @btn-warning-color;
//@cs3-btn-warning-bg: @btn-warning-bg;
//@cs3-btn-warning-border: @btn-warning-border;
//// cs3 buttons danger
//@cs3-btn-danger-color: @btn-danger-color;
//@cs3-btn-danger-bg: @btn-danger-bg;
//@cs3-btn-danger-border: @btn-danger-border;
//// cs3 buttons info
//@cs3-btn-info-color: @btn-info-color;
//@cs3-btn-info-bg: @btn-info-bg;
//@cs3-btn-info-border: @btn-info-border;
// =====================================================================================================================
