
.button-variant-mi24(@color; @background; @border; @default-color) {
  color: @default-color;
  background-color: transparent;
  border-color: transparent;
  &:hover,
  &:focus {
    color: @background;
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
    color: @color;
    background-color: darken(@background, 8%);
    border-color: transparent;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: @default-color;  // not ready
      background-color: transparent;  // not ready
      border-color: transparent;  // not ready
    }
  }
}


// tb overwrite
.btn-link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
